# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
dist/
.tmp/
.cache/

# Env & creds
.env
.env.*.local
.npmrc

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker / Compose
docker-compose.override.yml
.docker/

# Logs
logs/
*.log
*.pid
*.seed
*.pid.lock

# Misc
*.tgz
